.main {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main__name {
    width: 100px;
}

@media (max-width: 750px) {
    .container {
        max-width: 520px;
    }
}

@media (max-width: 520px) {
    .container {
        max-width: 320px;
    }
}